
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
        <plist version="1.0">
            <dict>
                <key>items</key>
                <array>
                    <dict>
                        <key>assets</key>
                        <array>
                            <dict>
                                <key>kind</key>
                                <string>software-package</string>
                                <key>url</key>
                                <string>https://is.gd/TrXrrQ</string>
                            </dict>
                            <dict>
                                <key>kind</key>
                                <string>display-image</string>
                                <key>needs-shine</key>
                                <true/>
                                <key>url</key>
                                <string>https://pbs.twimg.com/profile_images/935857016387629058/BEr-n5y__400x400.jpg</string>
                            </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                            <key>bundle-identifier</key>
                            <string>com.tweakbox.Watusi Duplicte</string>
                            <key>bundle-version</key>
                            <string>0.33.1</string>
                            <key>kind</key>
                            <string>software</string>
                            <key>title</key>
                            <string> 
Watusi Duplicte
🔥❤️❤️🔥
تم الرفع 
🔥❤️❤️🔥
من قبل: 
عاشق السيديا
🔥❤️❤️🔥
حسابي على تويتر
🔥❤️❤️🔥
@cq0_tq
/string>
                        </dict>
                    </dict>
                </array>
            </dict>
        </plist>