<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://down.weapp.com/apps/zb/001/53/62/45/5a6f70af1a2ab4e1625462aa.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.quvideo.XiaoYingPro</string>
<key>bundle-version</key>
<string>10.20.1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>
VivaVideo PRO Best Video Editor  Movie Maker HD
🔥❤️❤️🔥
تم الرفع 
🔥❤️❤️🔥
من قبل: 
عاشق السيديا
🔥❤️❤️🔥
حسابي على تويتر
🔥❤️❤️🔥
@cq0_tq
</string>
</dict>
</dict>
</array>
</dict>
</plist>