<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://down.weapp.com/apps/zb/000/98/80/23/5a6fae891a2ab4e162699c5d.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>gemini.ProCam-2</string>
<key>bundle-version</key>
<string>10.20.1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>
Snapchat10++
نسخه مكرره
🔥❤️❤️🔥
تم الرفع 
🔥❤️❤️🔥
من قبل: 
عاشق السيديا
🔥❤️❤️🔥
حسابي على تويتر
🔥❤️❤️🔥
@cq0_tq
شكرا لابو نذير على الشهاده
</string>
</dict>
</dict>
</array>
</dict>
</plist>